html 
  head 
      title= `${title}`
      meta(name="viewport" content="width=device-width, initial-scale=1")
      link(rel="stylesheet", href="/")
  body  
    a.btn(href='/') Return to the homepage
    
    .form
        h1 Add A Cat
        form(action='/update-cobj' method='POST')
          p Name:
          input(type="text" name="name" placeholder="Callie")
          p Birthdate:
          input(type="date" name="birth_date" placeholder="")
          p Colour:
          input(type="text" name="cat_colour" placeholder="")
          p Gender:
           select(name='male_or_female')
                            option(value='Male') Male
                            option(value='Female') Female
          button(type="submit") Submit

    if message
        h1  #{message}
    

      
 
    